---
import { Image } from "astro:assets";
import { date } from "astro:schema";
import ProjectItem from "./ProjectItem.astro";
import ProgrammingIcon from "../../public/icons/ProgrammingIcon.astro";

const PROJECTS = [
  {
    title: "Pomodoro Timer",
    description: "This is a description of project 1",
    link: "#",
    image: "public/pomodoro-timer.png",
    tecnologies: ["html", "css", "js"],
  },
  {
    title: "Project 2",
    description: "This is a description of project 2",
    link: "#",
    image: "public/pomodoro-timer.png",
    tecnologies: ["html", "css", "js"],
  },
  {
    title: "Project 3",
    description: "This is a description of project 3",
    link: "#",
    image: "public/pomodoro-timer.png",
    tecnologies: ["html", "css", "js"],
  },
];
---

<section
  id="projects"
  class="w-full flex flex-col items-start flex-wrap opacity-90 text-xl pt-4 py-10 gap-16 my-10"
>
  <h2 class="text-4xl font-semibold pt-16 flex flex-row items-center gap-2">
    <ProgrammingIcon width="30" height="30" />
    Proyectos
  </h2>
  {
    PROJECTS.map((project) => {
      return (
        <ProjectItem
          title={project.title}
          description={project.description}
          link={project.link}
          image={project.image}
          tecnologies={project.tecnologies}
        />
      );
    })
  }
</section>
